* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

.App {
  margin: 0 auto;
  background-color: #fff;
  height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
}

.App.dark {
  background: #222;
  color: #fff;
}

@media (max-width: 800px) and (orientation: portrait) {
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
