* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: space-between; */
  /* overflow-y: scroll; */
}

.main-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  grid-column-gap: 0.5%;
}

.project-1 {
  flex-basis: 20%;
  width: 20%;
  height: 55%;
  margin-top: 2%;
  margin-left: 2%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}
.project-1:hover {
  position: relative;
  margin-top: 0;
  height: 97%;
  flex-basis: 100%;
  max-width: 100%;
}

.project-2 {
  flex-basis: 20%;
  width: 20%;
  height: 75%;
  margin-top: 8%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.project-2:hover {
  position: relative;
  margin-top: 0;
  height: 97%;
  flex-basis: 100%;
  max-width: 100%;
}

.project-3 {
  flex-basis: 20%;
  width: 20%;
  height: 55%;
  margin-top: 15%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.project-3:hover {
  position: relative;
  margin-top: 0;
  height: 97%;
  flex-basis: 100%;
  max-width: 100%;
}

.project-4 {
  flex-basis: 20%;
  width: 20%;
  height: 85%;
  margin-top: 5%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.project-4:hover {
  position: relative;
  margin-top: 0;
  height: 97%;
  flex-basis: 100%;
  max-width: 100%;
}

.project-5 {
  flex-basis: 20%;
  width: 20%;
  height: 58%;
  margin-top: 10%;
  margin-right: 2%;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

.project-5:hover {
  position: relative;
  margin-top: 0;
  height: 97%;
  flex-basis: 100%;
  max-width: 100%;
}

.icon {
  border: none !important;
}

.light {
  background-color: #fff;
}

.dark {
  background-color: #222;
}
.anti-light {
  background-color: #fff;
}

.anti-dark {
  background-color: #222;
}

@media (max-width: 800px) and (orientation: portrait) {
  .main-grid {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    grid-row-gap: 0.5%;
  }

  .project-1 {
    flex-basis: 20%;
    width: 100%;
    height: 20%;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    margin: 0;
  }
  .project-1:hover {
    position: relative;
    margin-top: 0;
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .project-2 {
    flex-basis: 20%;
    width: 100%;
    height: 20%;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    margin: 0;
  }

  .project-2:hover {
    position: relative;
    margin-top: 0;
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .project-3 {
    flex-basis: 20%;
    width: 100%;
    height: 20%;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    margin: 0;
  }

  .project-3:hover {
    position: relative;
    margin-top: 0;
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .project-4 {
    flex-basis: 20%;
    width: 100%;
    height: 20%;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    margin: 0;
  }

  .project-4:hover {
    position: relative;
    margin-top: 0;
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .project-5 {
    flex-basis: 20%;
    width: 100%;
    height: 20%;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    margin: 0;
  }

  .project-5:hover {
    position: relative;
    margin-top: 0;
    width: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}
